.form input {
    border: 3px solid black;
    border-radius: 0;
    padding: 11px;
}

button.btn.btn-dark {
    background-color: #000000;
    padding: 13px;
    border-radius: 0;
}

.signup {
    font-weight: 500;
    padding: 11px;
    background-color: #d3d3d35c;
    color: black;
    text-decoration: none;
}

center.or_class {
    color: gray;
    position: relative;
    font-weight: 400;
    margin: 12px 0;
}

center.or_class::before {
    content: " ";
    display: block;
    height: 1px;
    width: 38%;
    position: absolute;
    top: 50%;
    left: 0;
    background: #25252536;
}

center.or_class::after {
    content: " ";
    display: block;
    height: 1px;
    width: 38%;
    position: absolute;
    top: 50%;
    right: 0;
    background: #25252536;
}

button.btn.btn-trash {
    position: absolute;
    right: 0;
}

.tasks input.form-control {
    border-radius: 0px 3px 3px 0px !important;
}